


.sobreprimeiro{
    margin-left: 18.5%;
    margin-top: 1%;
    padding: 8px;

}
.sobretext{
    text-decoration: none;
    margin-top: 15px;
}
.sobreimagem{
    margin-left: 1%;
    margin-top: 1%;
    padding: 8px;
}
.sobreimagemtext{
    text-decoration: none;
    margin-top: 15px;
}
.projetosobreimagem{
    margin-left: 1%;
    margin-top: 1%;
    padding: 8px;
    border-bottom: solid #1B73E8;
}
.projetosobreimagemtext{
    text-decoration: none;
    margin-top: 15px;

}

