*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hrdivide{
    border-style: groove;
    margin-top: 100px;
}

.cabecalho{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10%;
    margin-top: -81px;
    background-color: #ffffff;
}

.logo{
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-left: 4%;
}
.barrapesquisa{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px; /* Define a largura máxima da barra de pesquisa */
    margin-top: 0;
    margin-left: 15.5%; 
    position: fixed;

}
.textpesquisa{
    display: flex;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    
}
.textpesquisa:hover{
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nomepesquisa{
    margin-top: 3px;
    
}
.lupa{
    margin-left: 48%;
    color: #4284F4;

}



























@media only screen and (max-height: px){
    .cabecalho{
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 4%;
        margin-top: -80px;
        background-color: #ffffff;
    }
    .barrapesquisa{
        width: 100%;
        margin-left: 100px;
    }
    .lupa{
        margin-left: 10%;
    }

}
@media only screen and (min-height: 1180px) {
    .textpesquisa{
        width: 50%;
        margin-left: 12rem;
    }
    .logo{
        margin-left: -50%;
    }
    .nomepesquisa{
        font-size: 12px;
        padding: 3px;
    }
    .lupa{
        margin-left: 20%;
    }
    .barrapesquisa{
        width: 70%;
        margin-left: -30%;
    }
    .cabecalho{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 4.5%;
        margin-top: -80px;
        background-color: #ffffff;
    }
    .logo{
        margin-left: -65%;
        margin-top: 0;
        width: 100px;
        height: 100px;
    }

  }

  @media only screen and (max-width: 850px) {
    .lupa{
        margin-left: 15%;
    }
    .barrapesquisa{
        width: 80%;
    }
    .nomepesquisa{
        font-size: 13px;
        padding: 3px;
    }
    .containersobre{
        margin: 10%;
     }
     .titulopesquisa{
        font-size: 8px;
    }
    .sobrecontainerpesquisa{
        margin-left: -50%;
    }
    .cabecalho{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 7%;
        margin-top: -80px;
        background-color: #ffffff;
    }
    
  }
  @media only screen and (max-width: 500px) {
    .lupa{
        margin-left: 10%;
    }
    .barrapesquisa{
        width: 80%;
    }
    .nomepesquisa{
        font-size: 15px;
        padding: 3px;
    }
    .cabecalho{
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 10%;
        margin-top: -80px;
        background-color: #ffffff;
    }
  }
























  




.logoconta{
    position: fixed;
    top: 0; 
    right: 1rem; 
    width: 50px; 
    height: 50px;
    margin-top: 30px;
    
}
.logogmail{
    position: fixed;
    top: 0; 
    right: 6.2rem; 
    width: 50px; 
    height: 50px;
    margin-left: -100px;
    margin-top: 30px;
}

.containertopicos{
    display: flex;
    margin-top: 80px;
    justify-content: start;
    
}























.sobre{
    margin-left: 18.5%;
    margin-top: 1%;
    padding: 8px;
    border-bottom: solid #1B73E8;
}
.sobretext{
    text-decoration: none;
    margin-top: 15px;
}
.sobreimagem{
    margin-left: 1%;
    margin-top: 1%;
    padding: 8px;
}
.sobreimagemtext{
    text-decoration: none;
    margin-top: 15px;
}


















.linhacontainertopicos{
    border-style: groove;
}
.aproximacao{
    margin-top: 20px;
    margin-left: 250px;
    color: #575454;
    margin-bottom: 20px;

}
.containerBody{
    display: flex;
    background-color: #FAFAFB;
    align-items: center;

}
.imgbody{
    width: 70px;
    margin-left: 250px;
}
.textbody{
    margin-left: 20px;
    font-size: 28px;
}
.textnameabaixo{
    font-size: 12px;
    margin-top: 10px;
}
.visaogeral{
    margin-left: 4rem;
    text-align: center; 
    border-radius: 30px;
    border: solid 1.5px;
}
.btnvisao{
    background-color: #ECEDEE ;
    text-decoration: none;
    color: #000000; 
    font-size: 16px; 
    border-radius: 25px;
    padding: 10px;  
    cursor: pointer; 
    transition: background-color 0.3s;
    display: flex;
}
.containersobre{
    display: flex;
    width: auto;
    height: 650px;

}
.imagemsobre{
    width: 45%;
}
.imagenssobre{
    border: solid black;;
    margin-bottom: 3rem;
    
}
.imagem{
    height: 65%;
    width: 100;
    margin-top: 10px;
    margin-left: 20%;
    margin-bottom: -6rem;
    border-radius: 12px;

}
.githublink{
    font-size: 12px;
    text-decoration: none;
    color: #000000;
}
.titulopesquisa:hover{
    text-decoration: underline;
}
.pesquisasobre{
    margin-left: 40%;
}
.sitepesquisa{
    display: flex;
}
.imgsobre{
    width: 30px;
    
}
.textimgsobre{
    margin-left: 1rem;
    margin-top: -5.5%;
    text-decoration: none;
    color: #000000;
}
.pesquisa{
    margin-top: 1rem;
    font-size: 14px;
}
.titulopesquisa{
    color: #1A0DAB;
    font-size: 20px;

}
.perguntas p{
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}
.questoes{
    margin-bottom: 20px;
    overflow: hidden;
}
.questoessobre{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dadce0;

    align-items: center;
}
.btnquestion{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100px;
}
.respostas{
    display: none;
    padding: 10px 20px;
    background-color: #ffffff; /* Cor de fundo da resposta */
    border-bottom: 1px solid #dadce0;
}
#resp{
    font-size: 15px;
    margin-top: -2rem;
    color: gray;

}
.resps{
    text-decoration: none;
}  











.sobrecontainerpesquisa{
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-left: 5%;
}


.titulosobre{
    font-size: 20px;
    margin-bottom: 12px;
    
}
.textsobre{
    font-size: 15px;
    color: #70757a;
    
}
.textosobrequalificacao{
    display: flex;
    margin-top: 10px;
}
.tituloperfis{
    padding: 6px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.perfis{
    text-align: center;
    display: flex;
    justify-content: space-between;
}


.instagran{
    width: 45px;
    height: 45px;
    padding: 5px;
    margin-left: 10px;
}
.textinstagran{
    text-decoration: none;
}


.logolinkedin{
    width: 45px;
    height: 45px;
    padding: 5px;
    margin-left: 0%;
}

.textlinkedin{
    text-decoration: none;
}



.github{
    width: 45px;
    height: 45px;
    padding: 5px;
    margin-right: 40%;
}

.textgithub{
    text-decoration: none;
}



















.rodape{
    text-align: center;
    font-size: 18px;
    margin-top: 120%;
    padding: 20px;
    background-color: #FAFAFB;
}